__pycache__/
*.py[cod]
*$py.class

*.so

*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

.env
*.env

*/migrations/*.pyc
*/migrations/*.py[cod]

/media/
staticfiles/
static/

htmlcov/
*.cover
*.coverage
.cache

.DS_Store

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

venv/
env/
ENV/
venv.bak/
venv.bak/


.vscode/


.idea/


.mypy_cache/


.pytest_cache/


*.pem

migrations/